# Machine Learning II Project

Group Members:
- Daniel Kruk 20211687
- Marcelo Junior 20211677

In [3]:
#Package Importation
import pandas as pd

In [12]:
#Dataset Importation
path = "C:\\Users\\HP\\OneDrive\\Documents\\College Bizzness\\2nd Semester - 2nd Year\\Machine Learning II\\Practical Project Data\\"

#Customer Info CSV
customer_info = pd.read_csv(path + "Customer Info Dataset.csv")

#Customer Basket CSV
customer_basket = pd.read_csv(path + "Customer Basket Dataset.csv")

#Product Mapping Excel File
product_mapping = pd.read_excel(path + "Product Mapping Excel File.xlsx")

In [13]:
customer_info

,customer_id,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,female,09/10/1999 03:11 PM,0.0,0.0,0.0,2.0,91.0,20.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,male,06/26/1981 10:58 PM,1.0,0.0,0.0,2.0,197.0,5958.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Phd. Felicia Bradshaw,female,01/31/1987 09:08 AM,1.0,1.0,0.0,20.0,397.0,20.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,female,06/17/1942 12:02 AM,3.0,4.0,1.0,2.0,5282.0,237.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,female,01/31/2000 11:43 AM,0.0,0.0,0.0,2.0,82.0,22.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Phd. Karen Watts,female,11/01/1974 05:26 AM,0.0,0.0,1.0,2.0,209.0,5474.0,...,21.0,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911
29996,26447,Curtis Thompson,male,02/21/1986 11:27 AM,0.0,0.0,0.0,3.0,185.0,1066.0,...,47.0,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301
29997,182,Richard Carter,male,01/14/2001 05:49 AM,0.0,0.0,0.0,2.0,83.0,23.0,...,55.0,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140
29998,13768,Jerry Yoder,male,08/21/1958 12:12 PM,1.0,0.0,1.0,20.0,391.0,20.0,...,160.0,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512
29999,2570,Phd. James Cooper,male,01/16/1944 09:35 AM,1.0,1.0,0.0,2.0,834.0,596.0,...,164.0,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271

# Ideas of columns to add to the datasets <br>
**Customer Basket dataset** <br>
no. of products in basket <br>
total value of basket (total amount) <br>


**Customer Info dataset** <br>
replace customer card info / add a different column -> customer card as binary (yes or no/ 1/0) <br>