# Machine Learning II Project

Group Members:
- Daniel Kruk 20211687
- Marcelo Junior 20211677

# Libraries

In [1]:
#Package Importation
import pandas as pd
import numpy as np
import re
from datetime import datetime
from sklearn.preprocessing import OrdinalEncoder
import preproc_function as ppf

# Import Datasets

In [2]:
# Dataset Importation
path = '/Users/marcelojunior/Documents/Nova IMS - Lisboa (2021 - 2024)/4ยบ Semestre/Machine Learning II.nosync/KeizerKrukis/Project Data/'

# Customer Info CSV
customer_info = pd.read_csv(path + "Customer Info Dataset.csv")

# Customer Basket CSV
customer_basket = pd.read_csv(path + "Customer Basket Dataset.csv")

# Product Mapping Excel File
product_mapping = pd.read_excel(path + "Product Mapping Excel File.xlsx")

We can now see the info and data types of the datasets.

In [3]:
print(' ' * 40 + 'Customer Info' + ' ' * 40)
display(customer_info.info())
print('----' * 20 + '\n')
print(' ' * 40 + 'Customer Basket' + ' ' * 40)
display(customer_basket.info())
print('----' * 20 + '\n')
print(' ' * 40 + 'Product Mapping' + ' ' * 40)
display(product_mapping.info())

                                        Customer Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customer_id                              30000 non-null  int64
 1   customer_name                            30000 non-null  object
 2   customer_gender                          30000 non-null  object
 3   customer_birthdate                       30000 non-null  object
 4   kids_home                                30000 non-null  float64
 5   teens_home                               30000 non-null  float64
 6   number_complaints                        30000 non-null  float64
 7   distinct_stores_visited                  30000 non-null  float64
 8   lifetime_spend_groceries                 30000 non-null  float64
 9   lifetime_spend_electronics               30000 non-null  float64
 10  typical_hour                             30000 non-null  float64
 11  lifetime_spend_vegetables                30000 non-null  float64
 12  lifetime_spend_nonalcohol_drinks         30000 non-null  float64
 13  lifetime_spend_alcohol_drinks            30000 non-null  float64
 14  lifetime_spend_meat                      30000 non-null  float64
 15  lifetime_spend_fish                      30000 non-null  float64
 16  lifetime_spend_hygiene                   30000 non-null  float64
 17  lifetime_spend_videogames                30000 non-null  float64
 18  lifetime_total_distinct_products         30000 non-null  float64
 19  percentage_of_products_bought_promotion  30000 non-null  float64
 20  year_first_transaction                   30000 non-null  float64
 21  loyalty_card_number                      5825 non-null   float64
 22  latitude                                 30000 non-null  float64
 23  longitude                                30000 non-null  float64
dtypes: float64(20), int64(1), object(3)
memory usage: 5.5+ MB

None

--------------------------------------------------------------------------------

                                        Customer Basket
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    80000 non-null  int64
 1   invoice_id     80000 non-null  int64
 2   list_of_goods  80000 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.8+ MB

None

--------------------------------------------------------------------------------

                                        Product Mapping
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  164 non-null    object
 1   category      164 non-null    object
dtypes: object(2)
memory usage: 2.7+ KB

None

An analysis into their values is also valuable.

In [4]:
print(' ' * 40 + 'Customer Info' + ' ' * 40)
display(customer_info.describe())
print('----' * 20 + '\n')
print(' ' * 40 + 'Customer Basket' + ' ' * 40)
display(customer_basket.describe())
print('----' * 20 + '\n')
print(' ' * 40 + 'Product Mapping' + ' ' * 40)
display(product_mapping.describe())

                                        Customer Info

,customer_id,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,lifetime_spend_vegetables,lifetime_spend_nonalcohol_drinks,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.0,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.0,30000.000000,30000.000000,30000.000000,5825.000000,30000.000000,30000.000000
mean,15000.500000,1.146700,0.512933,0.764367,6.120767,3978.634251,965.238793,-inf,564.207835,628.750142,...,513.878374,777.151833,162.824538,-inf,1123.887300,0.190981,2008.684067,949911.497854,38.748224,-9.157740
std,8660.398374,1.234111,0.912502,0.836341,6.511410,5280.641466,1755.323397,NaN,481.819086,496.346400,...,575.448347,3036.405862,168.547217,NaN,1423.956421,0.145402,4.992296,28920.116430,0.024788,0.025749
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.058527,-inf,1.000000,0.000000,...,0.000000,0.000000,0.000000,-inf,0.000000,0.021920,1989.000000,900039.000000,38.653348,-9.215240
25%,7500.750000,0.000000,0.000000,0.000000,2.000000,220.000000,45.000000,9.0,247.000000,244.000000,...,46.000000,48.000000,50.000000,46.0,116.000000,0.099313,2006.000000,924547.000000,38.731150,-9.177770
50%,15000.500000,1.000000,0.000000,1.000000,3.000000,950.000000,194.000000,14.0,425.000000,425.000000,...,164.000000,166.000000,89.000000,92.0,427.000000,0.149777,2009.000000,950215.000000,38.748200,-9.159280
75%,22500.250000,1.000000,1.000000,1.000000,8.000000,5253.000000,721.000000,20.0,785.000000,949.000000,...,1078.000000,1091.000000,223.000000,968.0,1980.000000,0.201240,2012.000000,974937.000000,38.765098,-9.139674
max,30000.000000,10.000000,9.000000,9.000000,21.000000,18852.000000,6603.000000,23.0,1568.000000,1671.000000,...,1860.000000,36243.000000,867.000000,2375.0,5818.000000,0.517190,2020.000000,999997.000000,38.866765,-9.091217

--------------------------------------------------------------------------------

                                        Customer Basket

        customer_id    invoice_id
count  80000.000000  8.000000e+04
mean    5283.106088  6.121746e+06
std     3036.515284  3.519950e+06
min        1.000000  2.046200e+04
25%     2668.000000  3.082021e+06
50%     5318.000000  6.125842e+06
75%     7944.000000  9.168034e+06
max    10484.000000  1.224238e+07

--------------------------------------------------------------------------------

                                        Product Mapping

       product_name   category
count           164        164
unique          162          9
top       asparagus  groceries
freq              2         60

# Basic Preprocessing <br>
**Customer Info dataset** <br>
Customer education <br>
 <br>


**Customer Info dataset** <br>
replace customer card info / add a different column -> customer card as binary (yes or no/ 1/0) <br>

### Customer Info - Education
It could be noticed that some customers start their names with their highest education level (Bsc., Msc. and Phd.). As this does not provide any value in the `customer_name` field, we can create a new column called `highest_education` which will provide us that information in a meaningful manner. <br>
We will first see the first 4 letters of every name, to see how are the education levels abbreviated (mostly to know about the Master degree, as MBA and MSc are some of the options it could take).

In [5]:
prefs = customer_info['customer_name'].str.slice(stop=4)

# Print the value counts of the first 4 letters
prefs.value_counts()

Bsc.    3815
Phd.    3810
Msc.    3807
Mich     354
Robe     341
        ...
Babe       1
Juni       1
Ashe       1
Vito       1
Jae        1
Name: customer_name, Length: 1445, dtype: int64

As can be seen, the educaiton levels are `Bsc.`, `Msc.` and `Phd.`. <br>
We will now procced to create the new column, assigning a Null value for those which did not include it in their name.

In [6]:
# Create a copy for safety
ci_copy = customer_info.copy()

# List of educational levels previously seen to be extracted
edu_levels = ['Bsc.', 'Msc.', 'Phd.']

# Create a regular expression pattern to match the educational level
pattern = '|'.join(edu_levels)

# Extract the educational level
ci_copy['highest_education'] = ci_copy['customer_name'].str.extract('(' + pattern + ')')

# Remove the educational level from the 'customer_name' column
ci_copy['customer_name'] = ci_copy['customer_name'].str.replace(pattern, '').str.strip()

# Insert the 'education' column as the third column in the DataFrame
ci_copy.insert(2, 'highest_education', ci_copy.pop('highest_education'))

# To avoid having many NaNs, it was decided to give them the designation 'Missing'
ci_copy['highest_education'].fillna('Missing', inplace= True)

# See updated Customer Info
ci_copy

/var/folders/wv/8j5v8n4s4lq6l7yj4cl1lrkm0000gp/T/ipykernel_80443/708447921.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  ci_copy['customer_name'] = ci_copy['customer_name'].str.replace(pattern, '').str.strip()

,customer_id,customer_name,highest_education,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,Missing,female,09/10/1999 03:11 PM,0.0,0.0,0.0,2.0,91.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,Missing,male,06/26/1981 10:58 PM,1.0,0.0,0.0,2.0,197.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Felicia Bradshaw,Phd.,female,01/31/1987 09:08 AM,1.0,1.0,0.0,20.0,397.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,Missing,female,06/17/1942 12:02 AM,3.0,4.0,1.0,2.0,5282.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,Missing,female,01/31/2000 11:43 AM,0.0,0.0,0.0,2.0,82.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Karen Watts,Phd.,female,11/01/1974 05:26 AM,0.0,0.0,1.0,2.0,209.0,...,21.0,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911
29996,26447,Curtis Thompson,Missing,male,02/21/1986 11:27 AM,0.0,0.0,0.0,3.0,185.0,...,47.0,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301
29997,182,Richard Carter,Missing,male,01/14/2001 05:49 AM,0.0,0.0,0.0,2.0,83.0,...,55.0,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140
29998,13768,Jerry Yoder,Missing,male,08/21/1958 12:12 PM,1.0,0.0,1.0,20.0,391.0,...,160.0,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512
29999,2570,James Cooper,Phd.,male,01/16/1944 09:35 AM,1.0,1.0,0.0,2.0,834.0,...,164.0,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271

In [7]:
ci_copy['highest_education'].value_counts()

Missing    18568
Bsc.        3815
Phd.        3810
Msc.        3807
Name: highest_education, dtype: int64

In [8]:
# Apply the changes to original customer_info
customer_info = ci_copy.copy()

customer_info

,customer_id,customer_name,highest_education,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,Missing,female,09/10/1999 03:11 PM,0.0,0.0,0.0,2.0,91.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,Missing,male,06/26/1981 10:58 PM,1.0,0.0,0.0,2.0,197.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Felicia Bradshaw,Phd.,female,01/31/1987 09:08 AM,1.0,1.0,0.0,20.0,397.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,Missing,female,06/17/1942 12:02 AM,3.0,4.0,1.0,2.0,5282.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,Missing,female,01/31/2000 11:43 AM,0.0,0.0,0.0,2.0,82.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Karen Watts,Phd.,female,11/01/1974 05:26 AM,0.0,0.0,1.0,2.0,209.0,...,21.0,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911
29996,26447,Curtis Thompson,Missing,male,02/21/1986 11:27 AM,0.0,0.0,0.0,3.0,185.0,...,47.0,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301
29997,182,Richard Carter,Missing,male,01/14/2001 05:49 AM,0.0,0.0,0.0,2.0,83.0,...,55.0,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140
29998,13768,Jerry Yoder,Missing,male,08/21/1958 12:12 PM,1.0,0.0,1.0,20.0,391.0,...,160.0,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512
29999,2570,James Cooper,Phd.,male,01/16/1944 09:35 AM,1.0,1.0,0.0,2.0,834.0,...,164.0,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271

We are now able to encode this variable, so as to better analyse it in further notebooks. As such, the current values shall take:
- Missing: 0
- Bsc.: 1
- Msc.: 2
- Phd.: 3

In [9]:
# We can use a function we created from Preproc_Function to encode this variable.
# It takes 3 parametres: dataframe, column_name, categories
ppf.encode_categorical_variable(customer_info, 'highest_education', ['Missing', 'Bsc.', 'Msc.', 'Phd.'])
customer_info

,customer_id,customer_name,highest_education,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,0,female,09/10/1999 03:11 PM,0.0,0.0,0.0,2.0,91.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,0,male,06/26/1981 10:58 PM,1.0,0.0,0.0,2.0,197.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Felicia Bradshaw,3,female,01/31/1987 09:08 AM,1.0,1.0,0.0,20.0,397.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,0,female,06/17/1942 12:02 AM,3.0,4.0,1.0,2.0,5282.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,0,female,01/31/2000 11:43 AM,0.0,0.0,0.0,2.0,82.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Karen Watts,3,female,11/01/1974 05:26 AM,0.0,0.0,1.0,2.0,209.0,...,21.0,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911
29996,26447,Curtis Thompson,0,male,02/21/1986 11:27 AM,0.0,0.0,0.0,3.0,185.0,...,47.0,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301
29997,182,Richard Carter,0,male,01/14/2001 05:49 AM,0.0,0.0,0.0,2.0,83.0,...,55.0,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140
29998,13768,Jerry Yoder,0,male,08/21/1958 12:12 PM,1.0,0.0,1.0,20.0,391.0,...,160.0,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512
29999,2570,James Cooper,3,male,01/16/1944 09:35 AM,1.0,1.0,0.0,2.0,834.0,...,164.0,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271

In [11]:
# Check values
display(customer_info['highest_education'].value_counts())

0    18568
1     3815
3     3810
2     3807
Name: highest_education, dtype: int64

### Birthdates
Instead of working with birthdates, it is better to work with `Age`, as it is a better measure to group customers. <br>
As it is stored as an `object`, a transformation into `timedate54` is needed to thus turn it into age based on a specified date.

In [12]:
# Create a copy for safety again
ci_copy = customer_info.copy()

# Define the date format and the specified date with the same format
date_format = "%m/%d/%Y %I:%M %p"

spec_date_str = '03/08/2023 12:00 PM'
spec_date = datetime.strptime(spec_date_str, date_format)


# Define a lambda function to calculate the age from their birth date
age_calc = lambda x: spec_date.year - datetime.strptime(x, date_format).year - ((spec_date.month, spec_date.day) < (datetime.strptime(x, date_format).month, datetime.strptime(x, date_format).day))

# Modify the customer_birthdate column and renaming it to Age
ci_copy['customer_birthdate'] = ci_copy['customer_birthdate'].apply(age_calc)
ci_copy = ci_copy.rename(columns={'customer_birthdate': 'Age'})

# See the updated DataFrame
ci_copy

,customer_id,customer_name,highest_education,customer_gender,Age,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,0,female,23,0.0,0.0,0.0,2.0,91.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,0,male,41,1.0,0.0,0.0,2.0,197.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Felicia Bradshaw,3,female,36,1.0,1.0,0.0,20.0,397.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,0,female,80,3.0,4.0,1.0,2.0,5282.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,0,female,23,0.0,0.0,0.0,2.0,82.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Karen Watts,3,female,48,0.0,0.0,1.0,2.0,209.0,...,21.0,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911
29996,26447,Curtis Thompson,0,male,37,0.0,0.0,0.0,3.0,185.0,...,47.0,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301
29997,182,Richard Carter,0,male,22,0.0,0.0,0.0,2.0,83.0,...,55.0,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140
29998,13768,Jerry Yoder,0,male,64,1.0,0.0,1.0,20.0,391.0,...,160.0,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512
29999,2570,James Cooper,3,male,79,1.0,1.0,0.0,2.0,834.0,...,164.0,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271

As everything looks fine, we can move this changes to the original dataframe.

In [13]:
customer_info = ci_copy.copy()
customer_info

,customer_id,customer_name,highest_education,customer_gender,Age,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,0,female,23,0.0,0.0,0.0,2.0,91.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,0,male,41,1.0,0.0,0.0,2.0,197.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Felicia Bradshaw,3,female,36,1.0,1.0,0.0,20.0,397.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,0,female,80,3.0,4.0,1.0,2.0,5282.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,0,female,23,0.0,0.0,0.0,2.0,82.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Karen Watts,3,female,48,0.0,0.0,1.0,2.0,209.0,...,21.0,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911
29996,26447,Curtis Thompson,0,male,37,0.0,0.0,0.0,3.0,185.0,...,47.0,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301
29997,182,Richard Carter,0,male,22,0.0,0.0,0.0,2.0,83.0,...,55.0,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140
29998,13768,Jerry Yoder,0,male,64,1.0,0.0,1.0,20.0,391.0,...,160.0,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512
29999,2570,James Cooper,3,male,79,1.0,1.0,0.0,2.0,834.0,...,164.0,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271

### Loyalty Card as binary
Instead of having their specific loyalty card, the information can be better given if it is only known whether they have one or not, as theirs value does not matter much. It was decided to create, for now, a new variable `HasLoyaltyCard`.

In [14]:
# Replace NaNs with 0 and a valid loyalty card value with 1
customer_info['HasLoyaltyCard'] = customer_info['loyalty_card_number'].notna().astype(int)
customer_info

,customer_id,customer_name,highest_education,customer_gender,Age,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude,HasLoyaltyCard
0,4239,Sara Moscowitz,0,female,23,0.0,0.0,0.0,2.0,91.0,...,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397,0
1,19330,Donald Robertson,0,male,41,1.0,0.0,0.0,2.0,197.0,...,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197,0
2,2272,Felicia Bradshaw,3,female,36,1.0,1.0,0.0,20.0,397.0,...,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113,0
3,25288,Emma Williams,0,female,80,3.0,4.0,1.0,2.0,5282.0,...,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589,0
4,12829,Hilda Huerta,0,female,23,0.0,0.0,0.0,2.0,82.0,...,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Karen Watts,3,female,48,0.0,0.0,1.0,2.0,209.0,...,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911,1
29996,26447,Curtis Thompson,0,male,37,0.0,0.0,0.0,3.0,185.0,...,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301,0
29997,182,Richard Carter,0,male,22,0.0,0.0,0.0,2.0,83.0,...,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140,1
29998,13768,Jerry Yoder,0,male,64,1.0,0.0,1.0,20.0,391.0,...,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512,0
29999,2570,James Cooper,3,male,79,1.0,1.0,0.0,2.0,834.0,...,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271,0

### Gender
Something similar can be done with `Gender` by transforming it into a binary variable, by assigning the value **1** to Males and **0** to Females.

In [16]:
ppf.encode_categorical_variable(customer_info, 'customer_gender', ['female', 'male'])
customer_info

,customer_id,customer_name,highest_education,customer_gender,Age,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude,HasLoyaltyCard
0,4239,Sara Moscowitz,0,0,23,0.0,0.0,0.0,2.0,91.0,...,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397,0
1,19330,Donald Robertson,0,1,41,1.0,0.0,0.0,2.0,197.0,...,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197,0
2,2272,Felicia Bradshaw,3,0,36,1.0,1.0,0.0,20.0,397.0,...,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113,0
3,25288,Emma Williams,0,0,80,3.0,4.0,1.0,2.0,5282.0,...,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589,0
4,12829,Hilda Huerta,0,0,23,0.0,0.0,0.0,2.0,82.0,...,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,625,Karen Watts,3,0,48,0.0,0.0,1.0,2.0,209.0,...,11.0,57.0,1984.0,112.0,0.096366,2008.0,935162.0,38.734446,-9.171911,1
29996,26447,Curtis Thompson,0,1,37,0.0,0.0,0.0,3.0,185.0,...,41.0,50.0,197.0,22.0,0.118998,2014.0,NaN,38.767070,-9.144301,0
29997,182,Richard Carter,0,1,22,0.0,0.0,0.0,2.0,83.0,...,52.0,51.0,94.0,77.0,0.199432,2016.0,953891.0,38.728487,-9.164140,1
29998,13768,Jerry Yoder,0,1,64,1.0,0.0,1.0,20.0,391.0,...,132.0,54.0,5.0,398.0,0.494527,2006.0,NaN,38.751123,-9.182512,0
29999,2570,James Cooper,3,1,79,1.0,1.0,0.0,2.0,834.0,...,103.0,51.0,192.0,27.0,0.092385,2012.0,NaN,38.781400,-9.194271,0

### Location
Another meaningful insight would be to find duplicate customers and distinct customers who possible share the same address. <br>
As such, we can join `latitude` and `longitude` and group the data by them.

In [101]:
# Group the data by longitude and latitude and count the number of occurrences of each unique combination
duplicate_coords = customer_info.groupby(['longitude']).filter(lambda x: len(x) > 1)

# print the duplicate coordinates
#print(duplicate_coords)
duplicate_coords

,customer_id,customer_name,highest_education,customer_gender,Age,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude,HasLoyaltyCard
5,12267,Anthony Brown,1,male,54,0.0,1.0,0.0,2.0,639.0,...,0.0,96.0,63.0,199.0,0.051745,2020.0,NaN,38.716977,-9.152628,0
55,25351,Demarcus Haveman,0,male,63,2.0,2.0,1.0,3.0,4769.0,...,1125.0,555.0,995.0,1868.0,0.199298,2006.0,NaN,38.781864,-9.098630,0
72,551,Jean Pinette,1,female,35,1.0,2.0,1.0,3.0,5065.0,...,1045.0,497.0,1159.0,2143.0,0.196566,2007.0,961207.0,38.748029,-9.098630,1
98,16555,Frank White,0,male,45,2.0,3.0,1.0,2.0,5219.0,...,1097.0,550.0,987.0,2024.0,0.206686,2013.0,NaN,38.763675,-9.098630,0
125,24734,Lee Chaffin,0,male,29,1.0,0.0,0.0,3.0,203.0,...,11.0,46.0,2100.0,117.0,0.100475,2013.0,NaN,38.708110,-9.152628,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29688,21252,Adam Morris,0,male,41,4.0,1.0,1.0,3.0,5133.0,...,1203.0,484.0,1018.0,2185.0,0.202992,2009.0,NaN,38.745320,-9.098630,0
29739,1666,Marissa Hewitt,1,female,30,1.0,1.0,0.0,3.0,1044.0,...,0.0,107.0,51.0,205.0,0.049974,2009.0,NaN,38.712255,-9.152628,0
29792,11686,Herman Revilla,3,male,80,5.0,3.0,1.0,3.0,4967.0,...,916.0,562.0,1176.0,2014.0,0.191917,2015.0,NaN,38.764272,-9.098630,0
29807,26548,Oliver Holliman,0,male,68,2.0,1.0,0.0,2.0,910.0,...,0.0,98.0,44.0,186.0,0.050411,2012.0,NaN,38.719799,-9.152628,0
29831,6227,Erick Mettler,1,male,42,4.0,2.0,1.0,3.0,4796.0,...,1209.0,336.0,979.0,1888.0,0.197497,2006.0,949355.0,38.767009,-9.098630,1

### Possible errors and duplicates (cagate maybe)

In [102]:
customer_info[(customer_info['Age'] > 85) | (customer_info['Age'] < 18)]

Empty DataFrame
Columns: [customer_id, customer_name, highest_education, customer_gender, Age, kids_home, teens_home, number_complaints, distinct_stores_visited, lifetime_spend_groceries, lifetime_spend_electronics, typical_hour, lifetime_spend_vegetables, lifetime_spend_nonalcohol_drinks, lifetime_spend_alcohol_drinks, lifetime_spend_meat, lifetime_spend_fish, lifetime_spend_hygiene, lifetime_spend_videogames, lifetime_total_distinct_products, percentage_of_products_bought_promotion, year_first_transaction, loyalty_card_number, latitude, longitude, HasLoyaltyCard]
Index: []

[0 rows x 26 columns]

In [103]:
customer_basket.groupby('customer_id').count().sort_values('invoice_id', ascending=False)

             invoice_id  list_of_goods
customer_id
1295                 39             39
5344                 39             39
9167                 38             38
8500                 37             37
8346                 37             37
...                 ...            ...
7911                  1              1
7235                  1              1
1668                  1              1
2572                  1              1
1560                  1              1

[10299 rows x 2 columns]

In [104]:
custs = [1295, 5344, 9167, 8500, 8346]
customer_info[customer_info['customer_id'].isin(custs)]

,customer_id,customer_name,highest_education,customer_gender,Age,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude,HasLoyaltyCard
8465,8346,Ronald Johnson,1,male,62,1.0,1.0,1.0,4.0,4858.0,...,955.0,622.0,1029.0,1830.0,0.196112,2005.0,992204.0,38.766069,-9.098630,1
10191,1295,Walter Perry,1,male,76,1.0,6.0,1.0,3.0,4948.0,...,1142.0,608.0,1104.0,1861.0,0.196619,2009.0,998727.0,38.757154,-9.201787,1
15082,9167,Bobby Fant,1,female,40,4.0,2.0,1.0,3.0,4758.0,...,1085.0,445.0,1156.0,2107.0,0.200153,2010.0,NaN,38.752623,-9.145713,0
17546,8500,Marilyn Packwood,2,female,28,1.0,0.0,0.0,3.0,6487.0,...,678.0,117.0,417.0,365.0,0.158405,2008.0,NaN,38.741144,-9.144182,0
28820,5344,Jonathan Poole,3,male,33,1.0,1.0,2.0,7.0,15190.0,...,1656.0,32.0,44.0,4136.0,0.150288,2006.0,932691.0,38.729188,-9.168628,1